@tailwind base;
@tailwind components;
@tailwind utilities;



.card-shadow{
  @apply shadow shadow-secondary-800 border border-secondary-400;
}

.list-row{
  @apply cursor-pointer w-full flex flex-row items-center gap-2 px-1 py-0.5 border-b-2 border-dotted border-secondary-400 rounded;
}

.list-row:hover{
  @apply bg-secondary-200;
}

.list-cell {
  @apply px-1 py-0.5 truncate;
}

.entity{
  @apply flex flex-col gap-1;
}

.entity-row{
  @apply flex flex-row items-center gap-4 pb-0.5 border-b border-dotted border-secondary-400;
}

.select-list{
  @apply bg-secondary-50 px-2 py-1 rounded border-2 border-primary-800 border-opacity-25 cursor-pointer;
}

.select-list:hover{
  @apply border-opacity-90 shadow shadow-secondary-500;
}

.select-list:focus{
  @apply outline-none border-opacity-70;
}

.btn-choice{
  min-width: 80px;
  max-width: 80px;
  @apply border-2 bg-secondary-50 border-info-600 truncate px-2 rounded whitespace-nowrap outline-none;
}

.btn-choice:hover{
  @apply shadow shadow-info-800 bg-info-300 bg-opacity-50;
}





.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}